#maindiv{
    border: 2px ridge black;
    border-style: ridge;
    border-color: rgba(238, 233, 228, 0.705);
    margin-top: 10px;
    
}
#output{
    border: 3px solid rgb(17, 114, 158);
    height: 60px;
}
#game-play-area img:hover{
    box-shadow: 0px 10px 30px rgba(37,50,233,1);
}
